html
,body {
    height: 100vh;
    width: 100%;
    background-color: #eee;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: #f7fafa;
    font-family: 'Times New Roman', Times, serif;
}

/*Navigation bar outline*/
#ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7f7;
    background-color: #f3f3f3;
    height: 10%;
    font-size: 20px;
    line-height: 250%;
    
  }
  
  /*Makes navigation bar float left*/
  #li {
    float: left;

  }
  /*Displays blocks within navigation bar*/
  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

  }
  /*Makes block change color on hover*/
  li a:hover:not(.active) {
    background-color: #ddd;
    border: 1px solid #e7e7e8;
  }
  /*When href is active gives color*/
  .active {

    background-color: #ccce;
  }
  

  h1 {

    margin: 0;   
  }


  /*Container profile.html*/
  #container1 {

    width: 50%;
    height: 45%;
    background-color: #333;
    float: left;
    color: white;
    text-align: center;


    
  }
  
  /*Container profile.html*/
  #container2 {

    width: 50%;
    height: 45%;
    margin-left: 50%;
    background-color: #ddd;
    position: absolute;
    float: right;
    text-align: center;
  }
  
  /*Container profile.html*/
  #container3 {

    width: 50%;
    height: 45%;
    top: 55%;
    background-color: #ddd;
    position: absolute;
    text-align: center;

  }

  /*Container profile.html*/
  #container4 {

    width: 50%;
    height: 45%;
    margin-left: 50%;
    top: 55%;
    background-color: #333;
    position: absolute;
    text-align: center;
    color: white;
  }

  
  ul {

    margin: 0;
    padding: 0;
    overflow: hidden;

  }

  /*Wrapper for dashboard.html to sort everything inside*/
  #wrapperdashboard {

    width: 75%;
    margin: auto auto;
    margin-top: 20px;
    margin-bottom: 5px;

  }

  /*CSS for table*/
  table {

    margin: auto auto;
    border-collapse: collapse;
    width: 100%;
    border: 0.5px solid grey;
    

  }

  /*CSS for table*/
  th, td {
    text-align: left;
    padding: 8px;
    border: 0.5px solid grey;

}

/*CSS for table*/
tr:nth-child(even){background-color: #f2f2f2}

/*CSS for table*/
th {
    background-color: #ccce;
    color: #666;
}

/*Wrapper for index.html*/
#wrapperindex {

  max-width: 100%;
  margin: 5px 10px;
  
}

@media only screen and (max-width:600px){
  .text{font-size: 1.5rem;}
}

@media only screen and (max-width:600px){
  .table{overflow-x: scroll;
  }
}